body {
    background-color: black;
    color: wheat;
}

.header-title {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.header-right{
    display: flex;
    flex-direction: row-reverse;
    font-size: 40px;

    .login {
        margin-right: 20px;
    }

    .cart {
        margin-right: 40px;
    }
}